<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>YOUR_KEY_HERE</string>
	<key>SAVE_API_URL</key>
	<string>https://wanderly-api-production.up.railway.app</string>
	<key>SAVE_PLACE_SHARE_BASE_URL</key>
	<string>https://sav-e-app.vercel.app/p</string>
	<key>SAVE_TRIP_SHARE_BASE_URL</key>
	<string>https://sav-e-app.vercel.app/trip</string>
	<key>SAVE_SHARE_BASE_URL</key>
	<string>https://sav-e-app.vercel.app/trip</string>
	<key>SAVE_LIST_SHARE_BASE_URL</key>
	<string>https://sav-e-app.vercel.app/list</string>
	<key>PRIVY_APP_ID</key>
	<string>cmnttqw3q038x0cle8vnlki39</string>
	<key>PRIVY_APP_CLIENT_ID</key>
	<string>client-WY6XpSj5cs9CrZjfDUuBAcS1sWtDG5eF1RTqYs9fqmvFw</string>
</dict>
</plist>
