<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVY_APP_ID</key>
	<string>***REMOVED-PRIVY-ID***</string>
	<key>PRIVY_APP_CLIENT_ID</key>
	<string>***REMOVED-PRIVY-ID***</string>
	<key>GEMINI_API_KEY</key>
	<string>YOUR_KEY_HERE</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>YOUR_KEY_HERE</string>
	<key>SUPABASE_URL</key>
	<string>https://***REMOVED-SUPABASE-HOST***</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>***REMOVED-SUPABASE-KEY***</string>
</dict>
</plist>
